@custom-media --l (max-width: 1440px);
@custom-media --m (max-width: 800px);

:root {
  --color-blue: #0061ff;
}

.app *:before,
.app *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
}
