.sort-row-chart {
  position: relative;
  margin-top: 40px;
  height: 320px;
  overflow: hidden;
}

.row {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  height: 42px;
  transition: opacity 0.6s, transform 0.6s;
  pointer-events: none;
}

.name {
  min-width: 30%;
  line-height: 37px;
}
.row[data-russia='true'] .name {
  font-weight: bold;
}

.column {
  background-color: #68adfe;
  height: 37px;
  transition: width 0.6s, background-color 0.6s;
}
.row[data-russia='true'] .column {
  background-color: #ff6767;
}

.value {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 37px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 10px;
  width: 10%;
}

@media (max-width: 510px) {
  .name {
    max-width: 20%;
    width: 20%;
  }
}

@media (max-width: 450px) {
  .name {
    font-size: 14px;
    min-width: 130px;
    width: 130px;
  }
}
