.header {
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  max-width: 400px;
}

.lead {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}

@media (max-width: 450px) {
  .title {
    font-size: 18px;
    line-height: 22px;
    max-width: 300px;
  }

  .lead {
    font-size: 14px;
    line-height: 20px;
  }
}
