.playbar {
  display: flex;
  justify-content: space-between;
}

.btn-play {
  width: 40px;
  height: 40px;
  background: #4d4d4d;
  border-radius: 3px;
  cursor: pointer;
}

.timeline {
  width: 100%;
  height: 40px;
}

.timeline-bg {
  position: relative;
  width: calc(100% - 20px);
  height: 6px;
  margin: 17px 10px;
  background: rgba(77, 77, 77, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.timeline-todd {
  width: 0;
  height: 100%;
  background: #4d4d4d;
  transition: width 250ms;
}

.year {
  position: absolute;
  width: 2px;
  height: 6px;
  background-color: #ffffff;
  top: 0;
}

.value {
  width: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: right;
  color: #4d4d4d;
}
