.switch {
  margin: auto;
  width: calc(100% - 6px);
  max-width: 394px;
  height: 40px;
  margin-top: 15px;
  padding: 3px;
  background: #eeeeee;
  border-radius: 8px;
  display: flex;
}

.button {
  width: 50%;
  height: 34px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  font-family: Montserrat, 'sans-serif';
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #0075ff;
  background-color: #ffffff;
  user-select: none;
  cursor: default;
  pointer-events: none;
  z-index: 1;
}

.button[data-active='false'] {
  background-color: transparent;
  box-shadow: none;
  color: #777777;
  cursor: pointer;
  pointer-events: auto;
  z-index: 0;
}
.button[data-active='false']:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
